.todo-list-container
{
  background-color: antiquewhite;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 20px;
}

.container
{
  display: flex;
  justify-content: space-around;
}

.task-container
{
  max-width: 400px;
}

.todo-list-header
{
  text-align: center;
}

.form-button
{
  background-color: rgb(125, 221, 46);
  border-radius: 10px;
  border: 1px solid rgb(125, 221, 46);
  color: whitesmoke;
  padding: 2px 8px;
  margin-left: 10px;
  cursor: pointer;
}

.task-form
{
  display: flex;
  justify-content: space-between;
}



